In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [3]:
data = pd.read_csv("MonthElb_012010_004028900.csv")
data

,01-01-2010,00:00,17,004028,900,0.4,175.7,9999.9,925.7,1.3,84.0,9999.9.1,9999.9.2,0.0
0,01-01-2010,01:00,17,4028,900,0.0,9999.9,9999.9,925.1,1.3,84.0,9999.9,9999.9,0.0
1,01-01-2010,02:00,17,4028,900,0.6,197.0,9999.9,924.6,1.4,84.0,9999.9,9999.9,0.0
2,01-01-2010,03:00,17,4028,900,0.9,187.1,9999.9,923.8,1.7,84.0,9999.9,9999.9,0.0
3,01-01-2010,04:00,17,4028,900,1.1,190.7,9999.9,923.4,2.2,82.0,9999.9,9999.9,0.0
4,01-01-2010,05:00,17,4028,900,1.1,211.9,9999.9,923.2,2.5,80.0,9999.9,9999.9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,31-12-2010,19:00,17,4028,900,1.0,177.2,9999.9,952.6,-3.5,99.0,9999.9,9999.9,0.0
8755,31-12-2010,20:00,17,4028,900,1.3,190.5,9999.9,952.3,-3.7,100.0,9999.9,9999.9,0.0
8756,31-12-2010,21:00,17,4028,900,1.3,182.1,9999.9,952.8,-3.9,100.0,9999.9,9999.9,0.0
8757,31-12-2010,22:00,17,4028,900,1.3,186.4,9999.9,953.0,-4.5,100.0,9999.9,9999.9,0.0
8758,31-12-2010,23:00,17,4028,900,1.8,182.5,9999.9,952.9,-4.5,100.0,9999.9,9999.9,0.0